@import "../../assets/styles/mixin";
@import "../../assets/styles/variables";


.username{
  grid-area: username;
}
.username__title{
  font-family: RobotoBlack ;
  font-size: 60px;
  color: $brown;
  letter-spacing: 6px ;
  font-weight: bold;
}
